* {
	
}

.background-container{
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
}


.slideshow-container {
	display:block;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-4;
	
}
.logo-container{
	margin-top: 40px;
	width: 100%;
}

#logo{
	display: block;
	position:relative;
	z-index:-4;
	width: 30%;
	padding-top: 1px;
	padding-bottom: 1px;
	
}

