* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
	background-color: #282828;
	margin: 0;
}

.topnav {
    overflow: hidden;
    background-color: #303030;
}
.topnav a{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    opacity:0.7;
}

.footer {
	background-color:#303030;
	padding:10px;
	align:center;
	
}